# Entorns virtuals
.venv/
venv/
ENV/
env/

# Fitxers i carpetes de Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc

# Fitxers temporals del sistema
.DS_Store
Thumbs.db

# Fitxers de sortida
*.pdf
*.png
*.jpg

# Fitxers de configuració d'editor
.vscode/
